/*
Author: Abid Ramay
Author URL: http://Abid Ramays.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/


body {
	border-color: #1d1212;
    border-style: dashed;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0;}
p {margin: 0;padding: 0;}
body{
	margin:0;
	padding:0;
}
/*--fonts--*/
@font-face{
	font-family: 'Didact Gothic';
	src:url(../fonts/Didact_Gothic/DidactGothic.ttf) format('truetype');
}
@font-face{
	font-family: 'Pathway Gothic One';
	src:url(../fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf) format('truetype');
}

/*header-top START*/
.header-top{
    position: relative;
    padding: 0;
    text-align: center;
}
.login-bars{
    position: absolute;
    top: 0%;
    right: 0%;
}
.logo a,.logo a:hover {
    font-family: 'Pathway Gothic One';
    background-color: #A5E126;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}

.nav-menu{
    background: transparent;
    border-radius: 0;
    border: 0;
    margin-top: 6px;
}

.content h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}
.content h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 20px;
}
.content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 20px;
}
.content p:last-child {
    margin: 0;
}
.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0;
    color: #000;
    text-decoration: none;
}
.content a.button:hover {
    background: #000;
    color: #ff0;
}
.content.title {
    position: relative;
    background: #333;
}
.content.title h1 span.demo {
    display: inline-block;
    font-size: .5em;
    padding: 10px;
    background: #fff;
    color: #333;
    vertical-align: top;
}
.content.title .back-to-article {
    position: absolute;
    bottom: -20px;
    left: 20px;
}
.content.title .back-to-article a {
    padding: 10px 20px;
    background: #f60;
    color: #fff;
    text-decoration: none;
}
.content.title .back-to-article a:hover {
    background: #f90;
}
.content.title .back-to-article a i {
    margin-left: 5px;
}
.content.black p {
    color: #999;
}
.content.black p a {
    color: #08c;
}

.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.collapse-pdng {
    padding: 0px 0px;
    margin: 0 auto;
    width: 34%;
}
ul.nav-font>li>a{
    font-size: 17px;
    color: #100b0b !important;
    font-family: 'Didact Gothic';
    font-weight: 400;
}
ul.nav-font>li>a:hover{
    color: #aaa !important;
    transition: 0.5s all;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus{
    color: #aaa !important;
    background-color: transparent ;
}
.men-img-wid {
    width: 100%;
}
.menu-img-pad {
    padding: 0;
    width: 30.33333%;
    margin: 0px 7px;
}
.menu-img-pad:nth-child(2) {
    margin: 0px;
    padding: 20px 0px;
}
.menu-img-pad:nth-child(3) {
    padding: 20px 0px;
}
.dropdown-menu {
    padding: 10px !important;
}
.airmax-shoe {
    margin: 50px 0px 0px;
}


/*JUMBOTRON CAROUSEL START*/
a.left.carousel-control,a.right.carousel-control {
    background: none;
    width: 0;
}
.car-re-posn {
    bottom: 35%;
    padding: 0%;
    margin: 0%;
    z-index: 99;
    left: 55%;
    right: 0%;
}
.car-re-posn h3{
    font-weight: 400;
    font-size: 75px;
    text-transform: capitalize;
    color: #100b0b;
    font-family: 'Fredoka One', cursive;
    text-shadow: none;
}
.car-re-posn h4{
    font-family: 'Pathway Gothic One' !important;
    font-weight: 400;
    font-size: 45px;
    color: #b8b8b8;
    text-transform: capitalize;
    margin: 15px 0px;
    text-shadow: none;
}
.car-icn {
    color: #B5B2B2;
}
span.color-bar{
    background: #8cf2b5; Old browsers
    background: -moz-linear-gradient(left,  #8cf2b5 0%, #8cf2b5 26%, #80ecc0 35%, #80ecc0 35%, #69dfd8 68%, #50d2f0 99%); /* FF3.6+
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8cf2b5), color-stop(26%,#8cf2b5), color-stop(35%,#80ecc0), color-stop(35%,#80ecc0), color-stop(68%,#69dfd8), color-stop(99%,#50d2f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #8cf2b5 0%,#8cf2b5 26%,#80ecc0 35%,#80ecc0 35%,#69dfd8 68%,#50d2f0 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #8cf2b5 0%,#8cf2b5 26%,#80ecc0 35%,#80ecc0 35%,#69dfd8 68%,#50d2f0 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #8cf2b5 0%,#8cf2b5 26%,#80ecc0 35%,#80ecc0 35%,#69dfd8 68%,#50d2f0 99%); /* IE10+ */
    background: linear-gradient(to right,  #8cf2b5 0%,#8cf2b5 26%,#80ecc0 35%,#80ecc0 35%,#69dfd8 68%,#50d2f0 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cf2b5', endColorstr='#50d2f0',GradientType=1 ); /* IE6-9 */
    display: block;
    width: 50%;
    height: 2px;
    z-index: 999;
    margin-left: 132px;
}
/*JUMBOTRON CAROUSEL END*/

/*MAIN CONTENT START*/
.feel-fall {
    padding: 3em 0;
}
.fall-left h3,.feel-right h3{
    font-size: 50px;
    font-family: 'Pathway Gothic One';
    color: #100b0b;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.fall-left p, .feel-right p {
    margin: 15px 0px;
    font-size: 20px;
    color: #C7C7C7;
    text-transform: lowercase;
}
.fl-img-wid {
    margin: 0 auto;
}

span.fel-fal-bar{
    background: #4745d3; /* Old browsers */
    background: -moz-linear-gradient(left,  #4745d3 1%, #4745d3 12%, #5451c7 29%, #5451c7 29%, #b0a56e 57%, #c1b45e 68%, #ecdc34 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#4745d3), color-stop(12%,#4745d3), color-stop(29%,#5451c7), color-stop(29%,#5451c7), color-stop(57%,#b0a56e), color-stop(68%,#c1b45e), color-stop(100%,#ecdc34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #4745d3 1%,#4745d3 12%,#5451c7 29%,#5451c7 29%,#b0a56e 57%,#c1b45e 68%,#ecdc34 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #4745d3 1%,#4745d3 12%,#5451c7 29%,#5451c7 29%,#b0a56e 57%,#c1b45e 68%,#ecdc34 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #4745d3 1%,#4745d3 12%,#5451c7 29%,#5451c7 29%,#b0a56e 57%,#c1b45e 68%,#ecdc34 100%); /* IE10+ */
    background: linear-gradient(to right,  #4745d3 1%,#4745d3 12%,#5451c7 29%,#5451c7 29%,#b0a56e 57%,#c1b45e 68%,#ecdc34 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4745d3', endColorstr='#ecdc34',GradientType=1 ); /* IE6-9 */
    display: block;
    width: 50%;
    height: 2px;
    margin-left: 148px;
}


span.fel-fal-bar2{
    background: #41a4d1; /* Old browsers */
    background: -moz-linear-gradient(left,  #41a4d1 1%, #41a4d1 12%, #4d9ec6 29%, #7f8799 44%, #9f787c 57%, #d25f4e 68%, #fb4c29 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#41a4d1), color-stop(12%,#41a4d1), color-stop(29%,#4d9ec6), color-stop(44%,#7f8799), color-stop(57%,#9f787c), color-stop(68%,#d25f4e), color-stop(100%,#fb4c29)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #41a4d1 1%,#41a4d1 12%,#4d9ec6 29%,#7f8799 44%,#9f787c 57%,#d25f4e 68%,#fb4c29 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #41a4d1 1%,#41a4d1 12%,#4d9ec6 29%,#7f8799 44%,#9f787c 57%,#d25f4e 68%,#fb4c29 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #41a4d1 1%,#41a4d1 12%,#4d9ec6 29%,#7f8799 44%,#9f787c 57%,#d25f4e 68%,#fb4c29 100%); /* IE10+ */
    background: linear-gradient(to right,  #41a4d1 1%,#41a4d1 12%,#4d9ec6 29%,#7f8799 44%,#9f787c 57%,#d25f4e 68%,#fb4c29 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a4d1', endColorstr='#fb4c29',GradientType=1 ); /* IE6-9 */
    display: block;
    width: 50%;
    height: 2px;
    margin-left: 148px;
}

.fal-box,.fel-box {
    width: 50%;
}
.fall-left,.feel-right {
    text-align: center;
}
/*MAIN CONTENT END*/

/*PRODUCT ITEM START*/
.shop-grid{
	border-color: black;
	border-style: dotted;
	height: 50px;
}
/*PRODUCT ITEM END*/

.styl-hdn {
	width: 50%;
}
.styl-price {
	width: 50%;
}

/*NEWSLETTER START*/
.sub-news{
    padding: 3em 0;
    text-align: center;
}
.sub-news h3 {
    margin-bottom: 15px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    color: #100b0b;
}
li.ad-2-crt a:nth-child(2) {
    margin-top: 20px;
}
input.sub-email {
    font-family: 'Pathway Gothic One';
    padding: 7px;
    width: 40%;
    border: 2px solid #100b0b;
    outline: none;
    font-size: 18px;
}
a.subs-btn {
    font-family: 'Pathway Gothic One';
    border: none;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    background-color: #FFF;
    border-radius: 0;
    padding: 7px;
    font-size: 18px;
    width: 9%;
    margin: -6px -3px 0px;
    color: #000;
    outline: none;
}
a.subs-btn:hover{
    background: #A5E126;
    transition: 0.5s all;
    border: none;
    border-right: 2px solid #A5E126;
    border-bottom: 2px solid #A5E126;
    border-top: 2px solid #A5E126;
    color: #fff;
}
/*NEWSLETTER END*/

/*FOOTER START*/
.footer-grid ul{
    list-style-type: none;
}
.footer-grid {
    padding: 3em 0;
}

.re-ft-grd h3{
    font-family: 'Didact Gothic';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #100b0b;
    margin-bottom: 20px;
    text-shadow: none;
}

ul.categories li a,ul.shot-links li a{
    font-family: 'Didact Gothic';
    color: #100b0b;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.6em;
}

ul.categories li a:hover,ul.shot-links li a:hover{
    text-decoration: none;
    color: #aaa;
    transition: 0.5s all;
}
ul.social li{
    display: inline;
}
.re-ft-grd{
    padding: 0;
}
ul.social li a {
    padding: 30px 0px;
    width: 31.9%;
    float: left;
    background-color: #AAA;
    color: #fff;
    text-align: center;
    margin: 61px 3px 0px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
}
ul.social li a:hover{
    text-decoration: none;
    transition: 0.5s all;
}
ul.social li a.fb:hover {
    background-color:#3b5998;
}
ul.social li a.twt:hover {
    background-color: #55acee;
}
ul.social li a.gpls:hover {
    background-color: #dd4b39;
}
.bt-logo {
    padding-top: 60px;
}
a.ft-log, a.ft-log:hover {
    padding: 52px 52PX 60PX;
}
.copy-rt {
    text-align: center;
    margin-top: 20px;
}
.copy-rt p {
    font-family: 'Didact Gothic';
    color: #100b0b;
    font-weight: 700;
    font-size: 17px;
}
.copy-rt p a{
    text-decoration: none;
    color: #100b0b;
}
.copy-rt p a:hover{
    text-decoration: none;
    color: #fa5400;
}
/*FOOTER END*/
