/*
Author: Abid Ramay
Author URL: http://Abid Ramays.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/


body {
	border-color: #1d1212;
    border-style: dashed;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol, li{margin: 0; padding: 0;}
p {margin: 0;padding: 0;}
body{
	margin:0;
	padding:0;
}
/*--fonts--*/
@font-face{
	font-family: 'Didact Gothic';
	src:url(../fonts/Didact_Gothic/DidactGothic.ttf) format('truetype');
}
@font-face{
	font-family: 'Pathway Gothic One';
	src:url(../fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf) format('truetype');
}

/*header-top START*/
.header-top{
    position: relative;
    padding: 0;
    text-align: center;
}
.login-bars{
    position: absolute;
    top: 0%;
    right: 0%;
}
.logo a,.logo a:hover {
    font-family: 'Pathway Gothic One';
    background-color: #A5E126;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 60px;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}

.nav-menu{
    background: transparent;
    border-radius: 0;
    border: 0;
    margin-top: 6px;
}

.content h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}
.content h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 20px;
}
.content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 20px;
}
.content p:last-child {
    margin: 0;
}
.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0;
    color: #000;
    text-decoration: none;
}
.content a.button:hover {
    background: #000;
    color: #ff0;
}
.content.title {
    position: relative;
    background: #333;
}
.content.title h1 span.demo {
    display: inline-block;
    font-size: .5em;
    padding: 10px;
    background: #fff;
    color: #333;
    vertical-align: top;
}
.content.title .back-to-article {
    position: absolute;
    bottom: -20px;
    left: 20px;
}
.content.title .back-to-article a {
    padding: 10px 20px;
    background: #f60;
    color: #fff;
    text-decoration: none;
}
.content.title .back-to-article a:hover {
    background: #f90;
}
.content.title .back-to-article a i {
    margin-left: 5px;
}
.content.black p {
    color: #999;
}
.content.black p a {
    color: #08c;
}

.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.collapse-pdng {
    padding: 0px 0px;
    margin: 0 auto;
    width: 34%;
}
/*header-top END*/
/*

a.log-bar {
    background-color: #100B0B;
    color: #aaa;
    border-radius: 0;
    border: 0;
    padding: 4px 12px;
    font-family: 'Pathway Gothic One';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
a.log-bar:hover,a.log-bar:focus{
    background: #909090;
    color: #fff;
    transition: 0.5s all;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic';
    font-weight: 400;
}*/
/*
.nav-menu{
    background: transparent;
    border-radius: 0;
    border: 0;
    margin-top: 6px;
}
.content h1 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}
.content h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 20px;
}
.content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0 0 20px;
}
.content p:last-child {
    margin: 0;
}
.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #ff0;
    color: #000;
    text-decoration: none;
}
.content a.button:hover {
    background: #000;
    color: #ff0;
}
.content.title {
    position: relative;
    background: #333;
}
.content.title h1 span.demo {
    display: inline-block;
    font-size: .5em;
    padding: 10px;
    background: #fff;
    color: #333;
    vertical-align: top;
}
.content.title .back-to-article {
    position: absolute;
    bottom: -20px;
    left: 20px;
}
.content.title .back-to-article a {
    padding: 10px 20px;
    background: #f60;
    color: #fff;
    text-decoration: none;
}
.content.title .back-to-article a:hover {
    background: #f90;
}
.content.title .back-to-article a i {
    margin-left: 5px;
}
.content.black p {
    color: #999;
}
.content.black p a {
    color: #08c;
}
.dropdown-menu {
    min-width: 200px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.collapse-pdng {
    padding: 0px 0px;
    margin: 0 auto;
    width: 34%;
}
ul.nav-font>li>a{
    font-size: 17px;
    color: #100b0b !important;
    font-family: 'Didact Gothic';
    font-weight: 400;
}
ul.nav-font>li>a:hover{
    color: #aaa !important;
    transition: 0.5s all;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus{
    color: #aaa !important;
    background-color: transparent ;
}
.men-img-wid {
    width: 100%;
}
.menu-img-pad {
    padding: 0;
    width: 30.33333%;
    margin: 0px 7px;
}
.menu-img-pad:nth-child(2) {
    margin: 0px;
    padding: 20px 0px;
}
.menu-img-pad:nth-child(3) {
    padding: 20px 0px;
}
.dropdown-menu {
    padding: 10px !important;
}
.airmax-shoe {
    margin: 50px 0px 0px;
}
a.left.carousel-control,a.right.carousel-control {
    background: none;
    width: 0;
}
.car-re-posn {
    bottom: 35%;
    padding: 0%;
    margin: 0%;
    z-index: 99;
    left: 55%;
    right: 0%;
}
.car-re-posn h3{
    font-weight: 400;
    font-size: 75px;
    text-transform: capitalize;
    color: #100b0b;
    font-family: 'Fredoka One', cursive;
    text-shadow: none;
}
.car-re-posn h4{
    font-family: 'Pathway Gothic One' !important;
    font-weight: 400;
    font-size: 45px;
    color: #b8b8b8;
    text-transform: capitalize;
    margin: 15px 0px;
    text-shadow: none;
}
.car-icn {
    color: #B5B2B2;
}
